# **Theoritical Questions**

**1.What are data structures, and why are they important?**

  Data structures are ways to organize and store data for efficient access and modification.

Importance:

•	Improve algorithm efficiency

•	Enable fast data access and updates

•	Optimize memory usage

•	Essential for solving complex problems

•	Crucial in software and system design

**2.Explain the difference between mutable and immutable data types with examples.**

Mutable data types can be changed after creation.
Immutable data types cannot be changed once created.

Ex: Mutable: list, dict, set

Immutable: int, float, str, tuple

**3.What are the main differences between lists and tuples in Python?**

Differences between lists and tuples in Python:

Mutability:

•	Lists are mutable (can be modified).

•	Tuples are immutable (cannot be modified).

Syntax:

•	Lists use square brackets: [1, 2, 3]

•	Tuples use parentheses: (1, 2, 3)

Performance:

•	Lists are slower due to flexibility.

•	Tuples are faster and more memory-efficient.

Methods:

•	Lists have more built-in methods (e.g., append(), remove()).

•	Tuples have fewer methods.

Use Case:

•	Use lists for data that may change.

•	Use tuples for fixed or constant data.

**4.Describe how dictionaries store data.**

Dictionaries store data as key-value pairs in a hash table.

•	Each key is hashed to compute an index.

•	The value is stored at that index.

•	Keys must be unique and immutable (e.g., strings, numbers, tuples).

•	Values can be of any type.

**5.Why might you use a set instead of a list in Python?**

You might use a set instead of a list in Python when:

•	You need unique elements (sets automatically remove duplicates).

•	Order doesn't matter (sets are unordered).

•	You need fast membership checks (in is faster in sets than lists).

•	You want to perform set operations like union, intersection, or difference.

**6.What is a string in Python, and how is it different from a list?**

•	A string is an immutable sequence of characters (e.g., "hello").

•	A list is a mutable sequence that can store elements of any type (e.g., [1, "a", True]).

Key Differences:

•	Mutability: Strings are immutable; lists are mutable.

•	Content: Strings hold only characters; lists can hold any data type.

•	Methods: Strings have text methods; lists have item manipulation methods.

**7.How do tuples ensure data integrity in Python?**

Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure that stores key-value pairs using a hash function to compute an index for each key.

In Python, dictionaries are implemented using hash tables.

Relation:

•	The key is hashed to find its storage index.

•	The value is stored at that index.

•	Allows fast lookups, insertions, and deletions (average O(1) time).

•	Keys must be unique and immutable.

**9.Can lists contain different data types in Python?**

Yes, lists in Python can contain different data types.

**10.Explain why strings are immutable in Python.**

Strings are immutable in Python to ensure:

•	Memory efficiency: Immutable objects can be reused (string interning).

•	Safety: Prevents accidental changes, especially when shared across code.

•	Hashability: Allows strings to be used as dictionary keys and set elements.

•	Consistency: Simplifies debugging and behavior across the language.

Once created, a string cannot be altered; any modification creates a new string.

**11.What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries offer several advantages over lists for certain tasks:

•	Fast lookups using keys (O(1) average time).

•	Key-based access instead of relying on index positions.

•	Better data organization with key-value pairs.

•	No need to search through values as in lists.

•	Ideal for mappings (e.g., storing user info, configurations).

**12.Describe a scenario where using a tuple would be preferable over a list.**

Scenario: Storing GPS coordinates (latitude, longitude) of a location.

Why use a tuple:

•	The data is fixed and should not change.

•	Tuples are immutable, ensuring data integrity.

•	They can be used as dictionary keys or set elements.

**13.How do sets handle duplicate values in Python?**

Sets automatically remove duplicate values in Python. When a set is created, only unique elements are stored. Duplicates are ignored during set creation or when adding elements.

**14.How does the “in” keyword work differently for lists and dictionaries?**

The in keyword checks for membership, but works differently for lists and dictionaries:

•	In a list: Checks if a value exists.

•	In a dictionary: Checks if a key exists (not the value).

**15.Can you modify the elements of a tuple? Explain why or why not.**

No, you cannot modify the elements of a tuple in Python because tuples are immutable.

•	Once a tuple is created, its elements cannot be changed, added, or removed.

•	This ensures data integrity and allows tuples to be used as keys in dictionaries or elements in sets.

**16.What is a nested dictionary, and give an example of its use case?**

A nested dictionary is a dictionary where values are also dictionaries.


Use Case: Storing structured data, like information about multiple users.


users = {

    "user1": {"name": "Alice", "age": 25},
    "user2": {"name": "Bob", "age": 30}
}

print(users["user1"]["name"])                  # Output: Alice

**17.Describe the time complexity of accessing elements in a dictionary.**

The time complexity of accessing elements in a dictionary is:

•	Average case: O(1) (constant time)

•	Worst case: O(n) (rare, due to hash collisions)

In most cases, dictionary lookups are very fast because they use a hash table.

**18.In what situations are lists preferred over dictionaries?**

Lists are preferred over dictionaries when:

•	Order matters (lists preserve order by default).

•	Data is sequential (like items in a queue or stack).

•	You only need values, not key-value pairs.

•	You perform operations by index (e.g., slicing, iteration).

•	Data does not require unique identifiers (like keys).

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Dictionaries were considered unordered before Python 3.7, meaning they didn't maintain the insertion order of keys. Since Python 3.7+, dictionaries preserve insertion order.

But:

•	They're still accessed by key, not position.

•	Order doesn't affect data retrieval, as you always use the key to access the value.


Effect: You cannot retrieve items by index like in a list; access is always key-based.

**20.Explain the difference between a list and a dictionary in terms of data retrieval.**

A list and a dictionary differ significantly in how data is retrieved. In a list, data is accessed using numerical indices based on the order in which elements are added. This means you retrieve an item by specifying its position, such as list[0] for the first element. Lists are ideal for storing ordered sequences of items.

On the other hand, a dictionary retrieves data using unique keys rather than positions. Each item in a dictionary is stored as a key-value pair, and values are accessed by referencing their corresponding keys, like dict['name']. Dictionaries are better suited for scenarios where you need to label data and access it directly without relying on its order.

# **Practical Questions**

In [1]:
#1. Write a code to create a string with your name and print it
name="Rithika Gadapa"
print(f"My name is {name}")

My name is Rithika Gadapa

In [25]:
#2. Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [26]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[0:3])

Pyt

In [27]:
#4.Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [28]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
print("I like apple".replace("apple","orange"))

I like orange

In [29]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
_list=[1,2,3,4,5]
print(_list)

[1, 2, 3, 4, 5]

In [30]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
_list=[1,2,3,4]
_list.append(10)
print(_list)

[1, 2, 3, 4, 10]

In [31]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
_list=[1,2,3,4,5]
_list.remove(3)
print(_list)

[1, 2, 4, 5]

In [32]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
_list=['a','b','c','d']
print(_list[1])

b

In [33]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
_list=[10,20,30,40,50]
_list.reverse()
print(_list)

[50, 40, 30, 20, 10]

In [34]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
_tuple=(100,200,300)
print(_tuple)

(100, 200, 300)

In [35]:
# 12. Write a code to access the second-to-last element of the tuple ('red','green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [5]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
print(min((10, 20, 5, 15)))

5

In [36]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
print(('dog', 'cat', 'rabbit').index('cat'))

1

In [37]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [7]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [8]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [9]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [10]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [11]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [12]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "John", "age": 30, "city": "New York"}
print(d)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [13]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [14]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [15]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [17]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [20]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(f"List: {lst}")
print(f"Tuple: {tup}")
print(f"Dictionary: {dct}")

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [21]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[5, 7, 54, 75, 94]

In [22]:
#28.Write a code to create a list with strings and print the element at the third index.
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(lst[3])

date

In [23]:
#29.Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [24]:
#30.Write a code to convert a list of strings into a set.
lst = ['apple', 'banana', 'cherry']
print(set(lst))

{'apple', 'banana', 'cherry'}